/** Estilo Normal **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #1f1f1f;
    background-color: #0976b4;
    margin-top: 80px;
  }
  .modos {
    margin: 2% 1%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  img.icone {
    width: 1em;
    cursor: pointer;
  }
  .modos span {
    background-color: white;
    padding: 10px 10px;
    display: inline;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }
  .main {
    background-color: white;
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 15px;
  }
  table.header tr th {
    width: 50%;
    padding: 5%;
  }
  div.instrucoes {
    text-align: left;
    font-size: 0.8em;
  }
  p {
    padding: 10px 10px 0;
  }
  select {
    list-style-type: none;
    text-align: left;
    background-color: transparent;
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid lightgray;
    font-weight: normal;
  }
  footer {
    text-align: center;
  }
  .btn-desistir {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    width: 20%;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    background-color: #cb2027;
    cursor: pointer;
  }



  /** Estilo Noturno **/
  
  body.noturno {
    color: #d8e6eb !important;
    background-color: #18191a !important;
  }
  .main.noturno {
    box-shadow: none !important;
    background-color: #242526 !important;
  }
  .btn-desistir.notruno {
    color: #d8e6eb !important;
    border: solid 1px #3a3b3c !important;
  }
  .btn-desistir.noturno:hover {
    background-color: #3a3b3c !important; 
  }
  .modos {
    color: #1f1f1f
  }