/** Estilo Normal **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #1f1f1f;
    background-color: #0976b4;
    margin-top: 40px;
  }
  section {
    text-align: center;
    padding-top: 2%;
  }
  .modos {
    margin: 2% 1%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  img.icone {
    width: 1em;
    cursor: pointer;
  }
  .modos span {
    background-color: white;
    padding: 10px 10px;
    display: inline;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }
  .main {
    background-color: white;
    margin: 0 auto;
    width: 85%;
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 15px;
  }
  table.header tr th {
    width: 50%;
  }
  div.instrucoes {
    text-align: left;
    font-size: 0.8em;
  }
  p {
    padding: 10px 10px 0;
  }
  select {
    width: 100%;
    font-size: 1em;
  }
  footer {
    text-align: center;
  }
  .modos {
    color: #1f1f1f
  }
  .btn-desistir {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    width: 20%;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    background-color: #cb2027;
    cursor: pointer;
  }
  div.quiz {
    display: inline-block;
    margin-bottom: 5%;
    width: 90%;
  }
  div.quiz li {
    list-style-type: none;
    margin: 5% 5%;
    padding: 3% 3%;
  }
  div.quiz table {
    width: 100%;
    font-size: 1.2em;
    padding-bottom: 5%;
  }
  div#dicas {
    padding: 2%;
    column-gap: 2%;
    column-count: 2;
    text-align: left;
    line-height: 1.75em;
    font-size: 1.09em;
  }
  
  /** Estilo Noturno **/
  
  body.noturno {
    color: #d8e6eb !important;
    background-color: #18191a !important;
  }
  .main.noturno {
    box-shadow: none !important;
    background-color: #242526 !important;
  }
  th.noturno {
    background-color: #242526;
  }
  .btn-desistir.notruno {
    color: #d8e6eb !important;
    border: solid 1px #3a3b3c !important;
  }
  .btn-desistir.noturno:hover {
    background-color: #3a3b3c !important; 
  }
